pkgbase = openmhub
	pkgdesc = Unofficial configurator for MCHOSE mice and keyboards (battery, DPI, lighting, macros)
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/brayanspagnol/OpenMHub
	install = openmhub.install
	arch = any
	license = MIT
	depends = electron42
	provides = mhub-linux
	conflicts = mhub-linux
	source = openmhub-0.2.0.tar.gz::https://github.com/brayanspagnol/OpenMHub/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = 521340193b11b4f80307fd779fa977dac77d621a540e506611602804102e6d03

pkgname = openmhub
