[Desktop Entry]
Type=Application
Name=OpenMHub
GenericName=Peripheral configurator
GenericName[pt_BR]=Configurador de periféricos
Comment=Unofficial configurator for MCHOSE mice and keyboards
Comment[pt_BR]=Configurador não oficial para mouses e teclados MCHOSE
Exec=mhub-linux
Icon=mhub-linux
Terminal=false
Categories=Utility;Settings;HardwareSettings;
Keywords=OpenMHub;MCHOSE;mouse;keyboard;battery;HID;
Keywords[pt_BR]=OpenMHub;MCHOSE;mouse;teclado;bateria;HID;
StartupWMClass=mhub-linux
StartupNotify=true
